html {
  scroll-behavior: smooth; /*Transición para ir a contenido**/
}

body {
  background-color: rgba(10,23,38, 0.9);
  color: gray;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container_16 {
	max-width: 860px;
	width: 80%;
	margin: 0 auto;
}

/*===========================Tamanio Computador==============================================*/
.grid_8, .grid_16 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
  margin-top: -20px;
}

.container_16 .grid_8 {
	width: 45.0%;
  margin-right: 30px;
}

.container_16 .grid_16 {
	width: 98.0%;
}

/*Animacion Subtitulos Temas*/
.spanContainer{
  background-color: transparent;
  width: 400px;
  height: 75px;
  display: flex;
  justify-content: start;
  align-items: end;
}
.spanContainer a{
 position:relative;
 width: 150px;
 height: 75px; /*T de box*/
 transform-style:preserve-3d ;
 transform: perspective(500px) rotateY(25deg);
 transition: 2s;
}

.spanContainer a:hover{
 transform: perspective(500px) rotateY(385deg); 
 cursor: default;
}

.spanContainer a span{
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px; /*Tamnio de letra*/
 letter-spacing: 2px;
 color:#fff;
 text-transform: uppercase;
 box-sizing: border-box;
 background-color: #16BFA5;
 box-shadow: 0px -3px 9px 0px rgba(161,145,145,0.75);
 -webkit-box-shadow: 0px -3px 9px 0px rgba(161,145,145,0.75);
 -moz-box-shadow: 0px -3px 9px 0px rgba(161,145,145,0.75);
}

.spanContainer a span:nth-child(1){
 transform: translateZ(20px);
 border-right: 6px solid #0A8E7A;
 border-left: 6px solid #0A8E7A;
}
.spanContainer a span:nth-child(4){
 transform: translateZ(-20px);
 border-right: 6px solid #0A8E7A;
 border-left: 6px solid #0A8E7A;
}

.spanContainer a span:nth-child(2),a span:nth-child(3){
 width: 40px;
 height: 100%;
 background-color: #0A8E7A;
}

.spanContainer a span:nth-child(2){
 transform: rotateY(90deg ) translateZ(130px);
}

.spanContainer a span:nth-child(3){
 transform: rotateY(90deg ) translateZ(-20px);
}
.spanContainer a span i{
font-size: 45px;
 }

.spanContainer .textSpan{
  position: relative;
  left: 10px;
  top: 18px;
  color:#fff;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

 /*Animacion de fondo con particulas*/
 body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c192c;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.bubbles {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}

.bubbles span {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: antiquewhite;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #519EF744, 0 0 50px aliceblue, 0 0 100px aliceblue;
  animation: animate 15s ease-in-out infinite;
  animation-duration: calc(125s/var(--i));
}

.bubbles span:nth-child(even) {
  background-color: aliceblue;
  box-shadow: 0 0 0 2px #519EF744, 0 0 50px aliceblue, 0 0 100px aliceblue;
}

@keyframes animate {
  0% {
    transform: translateY(20vh) scale(0) rotate(90deg);
  }
  20% {
    transform: translateY(100vh) scale(1) rotate(0deg);
  }
  100% {
    transform: translateY(-20vh) scale(0.5) rotate(360deg);
  }
}

#lines{
  position: fixed;
   top: 0;
    left: 0; 
    z-index: -1;
}

/**********
/* Header
**********/

header {
  padding: 19px 0;
  overflow: hidden;
}

header .container_16{
  display: flex;
  margin-top: 60px;
}

header figure img {
  border-radius: 90px;
  border: 8px solid gray;
  height: 175px;
  width: 175px;
  position: relative;
  box-shadow: 0px -3px 9px 0px rgba(161,145,145,0.75);
  -webkit-box-shadow: 0px -3px 9px 0px rgba(161,145,145,0.75);
  -moz-box-shadow: 0px -3px 9px 0px rgba(161,145,145,0.75);
}

header article{
  margin-left: 20px;
}
header article h1 {
  font-size: 35px;
  color: #fff;
  margin-top: -10px;
  margin-bottom: 10px;
}
  
header article div {
 display: flex;
 justify-content: space-around;
 width: 60%;
 left: 20%;
}
  
header article div a {
  margin-top: 15px;
  width: 150px;
  height:40px;
  border-radius: 30px;
  border: 2px solid #0ca1e6;
  color: gray;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: rgba(30,30,29,0.9);
  transition: .3s;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
 }
 header article div a:hover {
  background-color:  #114588;
  cursor: pointer;
  color: #e1e1e1;
 }

/***************
/* Main section
***************/

p {
  font: 400 14px oswald, sans-serif;
}

section[role=main] {
  padding: 21px 0;
  overflow: hidden;
}

section[role=main] > div {
  margin-top: 63px;
}

section[role=main] h3 {
  border-bottom: 1px solid #BDBDBD;
  padding: 0 0 20px 60px;
  margin-top: 0px;
  position: relative;
  font: 400 20px oswald, sans-serif;
}

.icon {
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  top: -10px;
  width: 50px;
}

.experiences ul, .training ul {
  padding: 0px;
}
.training{
  position: relative;
  top: -40px;
}

.aenit {
  background-color: transparent;
  font-size: 15px;
  color:#0B5BB8;
  font-weight: bold;
  letter-spacing: 1px;
}
section[role=main] h4 {
  margin-bottom: 0px;
}

section[role=main] h4 strong {
  color: #147393;
  font: 400 17px oswald, sans-serif;
}

.experiences li, .training li {
  margin-bottom: 35px;
  list-style: none;
}

/**************
/* Knowledge 
***************/

.knowledge .values {
  padding: 0px;
  margin-top: 35px;
  display: block;
}

.knowledge .values li {
  margin-bottom: 21px;
  position: relative;
  list-style: none;
  font: 400 14px oswald, sans-serif;
}

.knowledge .values li:after {
		background: #e1e1e1;
		bottom: -4px;
		content: ' ';
		display: block;
		height: 5px;
		position: absolute;
		width: 100%;
	}

.knowledge .values li span {
  background: #33a4c9;
  bottom: -4px;
  content: ' ';
  display: block;
  height: 5px;
  left: 0;
  position: relative;
  margin-top: 0px;
  width: inherit;
  z-index: 1;
}

.grid_8 ul {
  padding: 15px;
}

.grid_8 ul li {
  font: 400 15px oswald, sans-serif;
  margin-bottom: 3px;
  list-style: none;
}

.grid_8 .informationText li:before, .grid_8 .contact li:before {
  content: '\2022';
  font: 400 15px oswald, sans-serif;
  margin-bottom: 3px;
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -15px;
  top: 0;
  color: #33a4c9;
  font-size: 20px;
}

.grid_16
.site {
  background-position: 0 -2px;
  color: #848484;
  font: 400 15px oswald, sans-serif;
}
	
.date {
  background-position: 0 -22px;
  color: #999;
  font: 400 15px oswald, sans-serif;
}

.phone {
  background-position: 0 -40px;
}

.mail {
  background-position: 0 -58px;
}

.blog {
  background-position: 0 -80px;
}

/**********
/* Social Media
**********/
ul{
  display: flex;
  justify-content: start;
}
ul li {
  list-style: none;
  margin: 0% 15px;
}
ul li .redsocial{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 43px;
  background-color: #706B69;
  border-radius: 50px;
  font-size: 20px;
  color:  #fff;
  transition: .5s;
}
ul li .redsocial::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  border-radius: 50px;
  background-color: #37EEEB;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul li .redsocial:hover::before{
transform: scale(1.1);
box-shadow: 0 0 15px #37EEEB;

}
ul li .redsocial:hover:hover{
  color: #37EEEB;
  box-shadow: 0 0 5px #37EEEB;
  text-shadow: 0 0 5px #37EEEB;
}


.formation1 {
  float: left;
}

.formation2 {
  float: right;
}

/**************
/* Animaciones
***************/

.fadeInDown {
  /* Chrome, Safari, Opera */
  -webkit-animation: fadeInDown 4s; 
  animation: fadeInDown 4s;
}

.fadeInUp {
  /* Chrome, Safari, Opera */  
  -webkit-animation: fadeInUp 4s; 
  animation: fadeInUp 4s;
}

.fadeInUp2 {
  /* Chrome, Safari, Opera */  
  -webkit-animation: fadeInUp2 3.7s; 
  animation: fadeInUp2 3.7s;
}

.fadeInLeft {
  /* Chrome, Safari, Opera */  
  -webkit-animation: fadeInLeft 4s; 
  animation: fadeInLeft 4s;
}

.fadeInRight {
  /* Chrome, Safari, Opera */  
  -webkit-animation: fadeInRight 4s; 
  animation: fadeInRight 4s;
}

.appear {
  /* Chrome, Safari, Opera */
  -webkit-animation: appear 6s; 
  animation: appear 6s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInUp2 {
    0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInRight {
    0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes appear {
    0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*===========================Tamanio Dispositivo Movil==============================================*/
@media screen and (max-width: 780px) {
  .container_16 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  header article{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header article div {
    width: 100%;
    display: flex;
    justify-content: space-around;
   }

   .grid_8, .grid_16 {
    float: none;
  }
  .experiences ul, .training ul {
    display: flex;
    flex-direction: column;
  }
  
  .experiences ul li:nth-child(2) {
    margin-top: -40px;
  }
  .training ul li:nth-child(2) , .training ul li:nth-child(3) {
    margin-top: -30px;
  }
  .information .informationText {
    display: flex;
    flex-direction: column;
  }

  .about{
    position: relative;
    top: -40px;
  }
  .experiences{
    position: relative;
    top: -20px;
  }
  .training{
    position: relative;
    top: -70px;
  }
  .socialmedia{
    position: relative;
    top: -125px;
  }
  .information{
    position: relative;
    top: -100px;
  }

}